@model NationalPark_1144_mvc.Models.NationalPark
@{
    ViewData["Title"] = "Upsert";
	var title = Model.Id == 0 ? "Create" : "Edit";
	var saveUpdate = Model.Id == 0 ? "Create" : "Update";
}

<form method="post" enctype="multipart/form-data">
	@if (Model.Id != 0)
	{
		<input type="hidden" asp-for="@Model.Id" />
	}
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="row border p-2 m-2 ">
		<div class="col-10 border-bottom ">
			<h2 class="text-primary">@title</h2>
		</div>
		<div class="col-8 ">
			<div class="form-group row p-2 m-2 ">
				<div class="col-4 ">
					<label asp-for="@Model.Name"></label>
				</div>
				<div class="col-8">
					<input class="form-control" asp-for="@Model.Name" />
					<span asp-validation-for="@Model.Name" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row p-2 m-2 ">
				<div class="col-4 ">
					<label asp-for="@Model.State"></label>
				</div>
				<div class="col-8">
					<input class="form-control" asp-for="@Model.State" />
					<span asp-validation-for="@Model.State" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row p-2 m-2 ">
				<div class="col-4 ">
					<label asp-for="@Model.Picture"></label>
				</div>
				<div class="col-8">
					<input type="file" class="form-control" name="files" id="uploadimage" />
					<span asp-validation-for="@Model.Picture" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row p-2 m-2 ">
				<div class="col-4 ">
					<label asp-for="@Model.Established"></label>
				</div>
				<div class="col-8">
					<input  type="text" id="datepicker" class="form-control" asp-for="@Model.Established" />
					<span asp-validation-for="@Model.Established" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row p-2 m-2">
				<div class="col-4 offset-4">
					<button type="submit" class="btn btn-info form-control text-white">@saveUpdate</button>
				</div>
				<div class="col-4">
					<a asp-action="Index" class="btn btn-success form-control">Back to list</a>
				</div>
			</div>
		</div>
		<div class="col-4 ">
			@{
				if (Model.Picture != null)
				{
					var base64 = Convert.ToBase64String(Model.Picture);
					var imageSrc = string.Format("data:image/png;base64,{0}", base64);
					<img src="@imageSrc" width="100%" />
				}
			}
		</div>
	</div>
</form>
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(function () {
			$("#datepicker").datepicker({
				dateFormat: "yy-mm-dd",
				changeMonth: true,
				changeYear: true,
				yearRange: "1900:+10"
			});
		});
	</script>
}

